<% content_for :backend_links do %> 
 <ul class="submenue">
    <li><%= link_to I18n.translate("application.layout.backend.dashboard"), backend_dashboard_path %></li>
    <li><%= link_to I18n.translate("application.layout.backend.users"), backend_users_path %></li>
  </ul>
<% end %>

<% content_for :content do %>
  <%= content_for?(:action_content) ? yield(:action_content) : yield %>
<% end %>

<%= render :template => 'layouts/application' %>
